{% extends 'hospitalapp/base.html' %}

{% block title %}{{block.super}} | Patient Login {% endblock %}

{% block content %}



<center>
<div style="margin-top:5%;width:50%;height:50%;border:2px solid rgb(196, 201, 201);background-color:whitesmoke">

    <div style="border:1px solid rgb(196, 201, 201);background-color:rgb(175, 170, 170)">
        <h2 style="font-family:redressed;color:rgb(52, 52, 87)">Patient Login</h2>
    </div>
    
    {{form.errors}}

    <form method="POST" action="{% url 'patientlogin' %}">
        {% csrf_token %}
        <br>
        <div>
            <input type="text" id=uname class="form-control" placeholder="Enter username" name="username" required>
        </div>  
        <br>
        <div>
            <input type="password" id=pwd class="form-control" placeholder="Enter password" name="password" required>
        </div>
        <br>
        {% for message in messages %}
        <div class="alert alert-danger">
            <strong>{{message}}</strong> 
          </div>
        {% endfor %}
        <!-- <div>
            {% for message in messages %}
                <p id='messages' style = "color:brown">{{message}}</p>
            {% endfor %}
        </div>    -->
        <br> 
        <div>
            <button type="subit" class="btn btn-primary"><b>Login</b></button>        
        </div>
        <br>
        <div style="margin-left:40%;margin-bottom:3%">
            <label>Doesn't have an account?<a href="{% url 'register' %}"> Register</a></label>
        </div>
    </form>
</div>
</center>
{% endblock %}
